{% extends "layout.html" %}

{% block content %}

<main class="hero-content">

<header class="masthead" style="background-image: url('{{url_for('static', filename='img/post-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>About Me</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <section>
    <div class="container-fluid">
      <section>
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            	<h1>Hey, I'm Che.</h1>
              <p>I'm a former web-developer turned sustainability professional. That combination of skill sets makes me lucky enough to participate in projects at that nexus. These projects range from energy management of data-centers to geographic information systems analyses for green vehicles to IoT devices that monitor air quality. Today, I'm a happy civil servant advancing environmental initiatives inside NYC public housing. I also freelance in areas related to web-development, data-analytics, and sustainability initiatives.</p>
              <p>This blog is a broad survey of the nexus existing between sustainability and tech.</p>
            </div>
          </div>
      </section>

      <section class="layout-cards container-fluid">
        <div class="col-lg-8 col-md-10 mx-auto">
        <div class="row justify-content-center mb-sm-3">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body small">
                <h5 class="card-title">EDF Climate Corps</h5>
                <p class="card-text">Helping data centers reduce their energy use.<i><a data-toggle="modal" href="#EDF"> More info&hellip;</a></i> </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body small">
                <h5 class="card-title">NY DOT</h5>
                <p class="card-text">Paving the way for green vehicles. <i><a data-toggle="modal" href="#NYDOT"> More info&hellip;</a></i></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body small">
                <h5 class="card-title">NY DEP</h5>
                <p class="card-text">Guiding restaurant owners to water conservation. <i><a data-toggle="modal"  href="#NYDEP1"> More info&hellip;</a></i></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center mt-sm-3">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body small">
                <h5 class="card-title">NYC DEP</h5>
                <p class="card-text">Calculating water savings through fixture replacements. <i><a data-toggle="modal" href="#NYDEP2"> More info&hellip;</a></i></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body small">
                <h5 class="card-title">NJAE</h5>
                <p class="card-text"> Building websites connecting students and scholarships. <i><a data-toggle="modal" href="#NJAE"> More info&hellip;</a></i></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body small">
                <h5 class="card-title">Your project here!</h5>
                <p class="card-text">Being of service to you!  <i><a data-toggle="modal" href="#you"> More info&hellip;</a></i></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>


    </div>
  </section>


<!-- Modals Here -->
<section>
  <div class="modal fade" id="EDF">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header small"><h5 class="modal-title"> Environmental Defense Fund: Climate Corps Fellowship</h5> </div>
        <div class="modal-body">
          <p clas="small"> Once enlisted into the Environmental Defense Funds Climate Corps Program, joining the energy conservation movement was a breeze. And finding was over 100K in data-center energy savings was the same. Learn more about the program and project <a href="http://edfclimatecorps.net/engagement/environmental-defense-fund-2014">here</a>.</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary small" data-dismiss="modal">Close</button>
        </div>
        </div><!-- modal body-->
      </div><!-- modal content-->
    </div><!-- modal dialogue-->  
  </div><!-- modal fade-->
</section>


<section>
  <div class="modal fade" id="NYDOT">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header small"><h5 class="modal-title"> NY Dept. of Transportation: Last Chance Gas!</h5> </div>
        <div class="modal-body">
          <p clas="small"> Green vehicles like electric cars and biofuel vans may be a tricky purchase. But creating policy incentivizing their investment is even trickier. Pathways to refueling stations, inspections, and much more need to be open. As a consultant, I led a team to scope and gap analysis of all of the steps for the New York State Department of Transportation to green our roads.</p>
          <a href="https://www.youtube.com/watch?v=1CWMEvd6IgM&feature=youtu.be">Video</a>
          <a href="https://blogs.ei.columbia.edu/2015/05/11/putting-knowledge-to-work-in-the-real-world-the-capstone-projects/">Report</a>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary small" data-dismiss="modal">Close</button>
        </div>
        </div><!-- modal body-->
      </div><!-- modal content-->
    </div><!-- modal dialogue-->  
  </div><!-- modal fade-->
</section>

<section>
  <div class="modal fade" id="NYDEP1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header small"><h5 class="modal-title"> NYC Dept. of Environmental Protection</h5> </div>
        <div class="modal-body">
          <p clas="small">Restaurants and bars are among some of the largest water users. And New York City, affectionately nicknamed the restaurant capital of the world has the opportunity o dramatically reduce the city's water consumption by targeting this cohort. <a href="https://www1.nyc.gov/html/dep/html/press_releases/16-004pr.shtml#.XHNBTYhKiUm"><i>More info...</i> </a> </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary small" data-dismiss="modal">Close</button>
        </div>
        </div><!-- modal body-->
      </div><!-- modal content-->
    </div><!-- modal dialogue-->  
  </div><!-- modal fade-->
</section>

<section>
  <div class="modal fade" id="NYDEP2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header small"><h5 class="modal-title"> NYC Dept. of Environmental Protection: Toilet Replacement Program</h5> </div>
        <div class="modal-body">
          <p clas="small"> Helping New York City's Toilet Replacement Program by building this website that calculates savings for each toilet replaced. <a href="https://www1.nyc.gov/nyc-resources/service/2619/toilet-replacement-program"><i>More info...</i> </a> </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary small" data-dismiss="modal">Close</button>
        </div>
        </div><!-- modal body-->
      </div><!-- modal content-->
    </div><!-- modal dialogue-->  
  </div><!-- modal fade-->
</section>

<section>
  <div class="modal fade" id="you">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header small"><h5 class="modal-title">New Jersey Advocates for Education</h5> </div>
        <div class="modal-body">
          <p clas="small"> New Jersey Advocates for education provides partial scholarships to high-school students from underserved schools in Essex County.<a href="https://www.njadvocatesforeducation.org/">Take a look...</a> </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary small" data-dismiss="modal">Close</button>
        </div>
        </div><!-- modal body-->
      </div><!-- modal content-->
    </div><!-- modal dialogue-->  
  </div><!-- modal fade-->
</section>

<section>
  <div class="modal fade" id="you">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header small"><h5 class="modal-title"> Need Help?</h5> </div>
        <div class="modal-body">
          <p clas="small"> If you're interested in data-service, website, or sustainability project <a href="{{url_for('contact')}}">Contact me</a> </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary small" data-dismiss="modal">Close</button>
        </div>
        </div><!-- modal body-->
      </div><!-- modal content-->
    </div><!-- modal dialogue-->  
  </div><!-- modal fade-->
</section>





</main>

{% endblock %}