{% extends "layout.html" %}

{% block content %}

<main class="hero-content">

<header class="masthead" style="background-image: url('{{url_for('static', filename='img/post-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>About Me</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        	<h1>Hey, I'm Che.</h1>
          <p>I'm a former web-developer turned sustainability professional. That combination of skill sets makes me lucky enough to participate in projects at that nexus. These projects range from energy management of data-centers to geographic information systems analyses for green vehicles to IoT devices that monitor air quality. Today, I'm a happy civil servant advancing environmental initiatives inside NYC public housing. I also freelance in areas related to web-development, data-analytics, and sustainability initiatives.</p>
          <p>This blog is a broad survey of the nexus existing between sustainability and tech.</p>
        </div>
      </div>
    </div>
  </article>


<div class="row justify-content-center mb-sm-3">
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">EDF Climate Corps</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">NYC DEP</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">NY DOT</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-sm-3">
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">NJAE</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Water Calculator</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Your project here!</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

</main>

{% endblock %}