{% extends "layout.html" %}

{% block content %}

<main class="hero-content">

<header class="masthead" style="background-image: url('{{url_for('static', filename='img/post-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>About Me</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        	<h1>Hey, I'm Che.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin interdum viverra ante sit amet efficitur. Nam in lorem a urna volutpat sagittis ut sed augue. Cras ultricies, nibh a posuere iaculis, lacus leo ultricies justo, vel euismod elit dui nec sapien. Duis imperdiet ipsum nisl, id pretium erat gravida eu. Donec euismod urna quis eros gravida maximus. Nullam dignissim justo at erat auctor, accumsan ullamcorper nulla euismod. Donec sit amet augue suscipit, mattis quam eget, eleifend nunc. Curabitur risus arcu, ornare ac nisi porta, varius congue mauris. Sed et semper enim.</p>
        </div>
      </div>
    </div>
  </article>


<div class="row justify-content-center mb-sm-3">
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">EDF Climate Corps</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">NYC DEP</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">NY DOT</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-sm-3">
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">NJAE</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Water Calculator</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Your project here!</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

</main>

{% endblock %}