{% extends "layout.html" %}

{% block content %}

<header class="masthead" style="background-image: url('{{url_for('static', filename='img/contact-bg.jpg')}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Saving Flowers</h1>
          <span class="subheading">A fearlessly aimless inventory of all things tech in sustainability</span>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="hero-content">
  <p>Contact form here</p>
</main>

{% endblock %}